# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# notes
notes.md

#server dir
wwwroot/

#config fir
config_files/

#cgi-bin dir
cgi-bin/

tests/
docs/
subject_files/


#keepthis in ignore until formated properly...
docs/HttpReferences.md 

#ignore log
*.log

#ignore output
WebSmurf